# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
*.pid
*.seed

# Dependințe
node_modules/

# Mediu
.env
.env*.local
.env.backup

# Build
dist/
dist-ssr/

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistem
.DS_Store
Thumbs.db

# Backend Python
__pycache__/
*.pyc
*.sqlite3
api_costs.xlsx

# Testare
coverage/
.nyc_output/

# Mediu virtual Python
venv/